<nb-card size="large">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Temperature">

      <nb-radio-group [(ngModel)]="temperatureMode" name="temperature-mode">
        <nb-radio matRipple value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio matRipple value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio matRipple value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio matRipple value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
    </nb-tab>

    <nb-tab tabTitle="Humidity">

      <nb-radio-group [(ngModel)]="humidityMode" name="humidity-mode">
        <nb-radio matRipple value="cool">
          <i class="nb-snowy-circled"></i>
        </nb-radio>
        <nb-radio matRipple value="warm">
          <i class="nb-sunny-circled"></i>
        </nb-radio>
        <nb-radio matRipple value="heat">
          <i class="nb-flame-circled"></i>
        </nb-radio>
        <nb-radio matRipple value="fan">
          <i class="nb-loop-circled"></i>
        </nb-radio>
      </nb-radio-group>
    </nb-tab>
  </nb-tabset>
</nb-card>
